/* ============================================================
   БАЗОВЫЕ СТИЛИ
   ============================================================ */

/* ===== РЕСЕТ ===== */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== HTML ===== */
html {
    font-size: var(--my-base-font-size);
    height: 100%;
}

/* ===== BODY ===== */
body {
    background: var(--my-bg-body);
    font-family: var(--my-font-family);
    font-size: var(--my-font-size-base);
    line-height: var(--my-line-height-base);
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: var(--my-padding-null);
    padding: var(--my-padding-md);
    gap: var(--my-card-gap);
    color: var(--my-text-primary);
}

/* ===== СКРОЛЛБАР ===== */
::-webkit-scrollbar {
    width: var(--my-scrollbar-width);
}
::-webkit-scrollbar-track {
    background: var(--my-scrollbar-track);
}
::-webkit-scrollbar-thumb {
    background: var(--my-scrollbar-thumb);
    border-radius: var(--my-scrollbar-radius);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--my-scrollbar-thumb-hover);
}

/* ===== АДАПТАЦИЯ ===== */
@media (max-width: 48rem) {
    body {
        padding: var(--my-padding-sm);
        gap: var(--my-padding-sm);
    }
}